:root {
    --main-bg: rgb(0, 0, 0, 0.75);
    --dark-bg: rgb(41, 43, 59);
    --trans-bg: rgba(7, 13, 28, 0.83);
    --light-bg: rgba(184, 184, 184, 0.448);
    --border: rgb(190, 215, 219);
    --radius: 15px;
    --width: 320px;
    --accent: rgb(232, 0, 108);
    --active: rgb(0, 189, 114);
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: center / cover url("/assets/bg.webp"), var(--main-bg);
    transition: 0.5s;
    min-height: 100svh;
    user-select: none;
    font-weight: normal;
}

.bar {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-content: stretch center;
    position: sticky;
    top: 0;
    background-color: var(--trans-bg);
    padding: 0.5rem 0;
    gap: 1px;
    .switch {
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        width: 6rem;
        align-self: stretch;
        text-align: center;
        display: grid;
        place-content: center;
    }
    .switch:hover {
        color: var(--accent);
    }
    .switch:active {
        color: var(--active);
    }
}

.pop-up {
    display: none;
    h2 {
        margin: 0;
    }
    background-color: var(--trans-bg);
    top: 5rem;
    left: 15%;
    position: fixed;
    width: 66%;
    height: 75svh;
    padding: 2%;
    border-radius: var(--radius);
    font-size: 1.2rem;
    .select {
        display: grid;
        grid-auto-flow: row;
        gap: 0.5rem;
    }
    label {
        cursor: pointer;
    }
    input[type='checkbox'] {
        visibility: hidden;
        width: 1rem;
        margin: 0;
        cursor: pointer;
    }
    input[type='checkbox']::before {
        display: block;
        content: "";
        background-color: var(--accent);
        visibility: visible;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
    }
    input[type='checkbox']:checked:before {
        background-color: var(--active);
    }
    overflow-y: scroll;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
    button {
        position: fixed;
        top: 80svh;
        right: 18svw;
        background-color: white;
        padding: 0.5rem;
        font-size: 1.5rem;
        border-radius: var(--radius);
    }
    button:hover {
        background-color: var(--accent);
    }
    button:active {
        background-color: var(--active);
    }
}

.info {
    display: grid;
    .cover {
        margin-bottom: 1rem;
        width: var(--width);
        border-radius: var(--radius);
    }
    .title {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.3rem 0;
    }

}

.root {
    margin: 0.5rem auto 4.5rem auto;
    display: grid;
    place-content: center;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    grid-template: min-content / min-content;
    gap: 0.3rem;
    margin-bottom: 0.2rem;
    .tab {
        border: 1px solid white;
        padding: 0.3rem;
        border-radius: 25px;
        font-size: 1rem;
        text-align: center;
        user-select: none;
    }
    .new {
        width: 1.2rem;
    }
    .tab:hover {
        color: black;
        border-color: black;
        background-color: var(--accent);
    }
    .tab:active {
        background-color: var(--active);
    }
    .tab.selected {
        background-color: white;
        color: black;
    }
}

.playlist {
    width: var(--width);
    cursor: pointer;
    margin-bottom: 4rem;
    .track {
        display: grid;
        margin: 0.3rem 0 0 0;
        padding: 0.3rem 0;
        border-bottom: 1px solid var(--light-bg);
        p {
            margin: 0 0.3rem;
        }
        .album, .artist {
            font-size: 0.8rem;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }
        
    }
    .track:hover {
        background-color: var(--accent);
        color: black;
        border-bottom: 1px solid var(--accent);
    }
    .track:active {
        background-color: var(--active);
        color: white;
        border-bottom: 1px solid var(--active);
    }
    .playing {
        background-color: var(--active);
        color: white;
        border-bottom: 1px solid var(--active);
        border-left: 3px solid white;
    }
}

.controls {
    position: fixed;
    bottom: 0;
    background-color: var(--trans-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    .buttons {
        display: grid;
        place-content: center;
        margin: 0.5rem auto;
        grid-auto-flow: column;
        cursor: pointer;
        gap: 5px;
        span {
            font-size: 2.5rem;
        }
        span:hover {
            color: var(--accent);
        }
        span:active {
            color: var(--active);
        }
    }
    .buttons .active {
        color: var(--active);
    }
    .duration {
        appearance: none;
        height: 1rem;
        background: var(--light-bg);
        background-image: linear-gradient(270deg, var(--accent), var(--active));
        background-size: 0% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    /** Hide handle Chromium **/
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 0;
        height: 0;
    }

    /** Hide handle Firefox **/
    input[type="range"]::-moz-range-thumb {
        width: 0;
        height: 0;
    }
}
